/*color pallette
ROMAN SILVER
RGB: 137, 142, 153

LIGHT STEEL BLUE
RGB: 180, 191, 217

WHITE SMOKE
RGB:244, 245, 249

LANGUID LAVENDER
RGB: 202, 207, 220

ASH GREY
RGB: 175, 180, 192

*/

body {
	background-color: rgb(137, 142, 153);
	max-width: 425px;
	margin: auto;
}

header {
	text-align: center;
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

header p {

}

main {
	background-color: rgb(244, 245, 249);
}

form {
	background-color: rgb(255, 255, 255);
}







